.header {
  height: 50px;
  background-color: rgb(194, 193, 193);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.header .btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 36px;
  padding: 0 16px;

  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;

  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    box-shadow 0.2s ease;
}
