.map-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.search-box {
  position: absolute;
  top: 10px;
  left: 50px;
  z-index: 1000;

  background: white;
  padding: 3px;
  border-radius: 5px;
}

.search-box input {
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#map {
  height: 100%;
}
