:host {
  display: block;
}

.app-header {
  display: flex;
  flex-direction: column;
}

.app-sidebar {
  display: flex;
  flex: 1; /* Neemt overgebleven ruimte */
  overflow: hidden;
  height: calc(100vh - 50px);
}

.content {
  flex: 1;
  overflow: hidden;
}
