.sidebar {
  width: 200px;
  background-color: rgb(194, 193, 193);
  color: white;
  padding: 20px 0;
  height: 100%;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  text-align: center;
  padding: 15px 5px;
  font-size: 2rem;
  cursor: pointer;
}

.sidebar ul li:hover {
  background-color: gray;
}

.sidebar ul li.active {
  background-color: darkgray;
}
